# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\university\epam\task2_news\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
